
body{
	background-image: url("image.jpeg");
	background-width:100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;	margin:0;
	font-family: 'Vibur', cursive;
	font-weight:200px;
	background-position: center;

}
.container{
	text-align: center;
	padding:20px;
	max-width: 900px;
	margin:20px auto;
	color:steelblue;
	font-size: 40px;
	font-weight: 500;
}
.h1{
	padding:20px 0;
	text-align:center;
	font-weight: normal;
	line-height:1.1;
	color:white;
	background:steelblue;
	margin:0;
	text-transform: uppercase;
}
#start{
	background:white;
	height:30px;
	text-align:center;
	text-transform: uppercase;
	color:steelblue;
	font-weight: 600;
	
	
}
#message{display:inline-block;
	width:20%;
	font-weight: 700;
	font-style: bold;
}

.selected{
background:steelblue;
color:white;
}

button
{
	border:none;
	font-family: 'Vibur', cursive;
	background:none;
	height:100%;
	text-transform: uppercase;
	color:steelblue;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: inherit;
	transition: all 0.3s;
	outline:none;

}
button:hover{
	color:white;
	background:steelblue;
}
#reset{
	margin-left: 20%;
}
#fingers,#toes{
	float: left;
	display: inline-block;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    color: pink;
    border: 1px solid transparent;
    border-radius: 6px;
    height: 182px;
    width: 49%;
   box-shadow: 1px 1px 1px transparent;
   padding-top: 60px;
   filter:none;
   transition: all 0.5s;
}
input{
	outline: none;
	font-family: 'Vibur', cursive;
	text-align: center;
	display:block;
	margin:auto;
	height:100px;
	 border-radius: 6px;
	width:15%;
	border: none;
	font-size: 40px;
	color:white;
	background: steelblue;
	`
}
#input{
	background: white;
	color:steelblue;
	height:60px;


	

}
.styleclass{
	background: steelblue;
}